p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
